* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', 'Times New Roman', Times, serif;;
}

/* .outer-box {
    align-items: center;
    margin: auto;
    width: 350px;
    height: fit-content;
    border-style: solid;
    border-radius: 2%;
    overflow: hidden;
    background-color: #C2D3CD;
} */

/* img.profile {
    width: 100%;
    max-width: 350px;
    height: 230px;
} */

/* .inner-box-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* h1 {
    justify-content: center;
    margin: auto;
    font-weight: 900;
}

h2 {
    justify-content: center;
    margin: auto;
    font-size: 1em;
} */

/* .inner-box-top-buttons {
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
} */

/* .button {
    height: 25px;
    margin: 5px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #9FA4A9;
 } */

.form-popup {
    
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.Button:hover {
    background: #847E89;
}

.button:active {
    background: #56494C;
}

.button-text,
.button-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
    background: rgb(0, 0, 0, 0.08);
}

.inner-box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}
ul {
    columns: 2;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0;
}

li {
    background-color: #AFBFC0;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
    padding: 0;
}
nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: fit-content;
    width: auto;
    justify-content: space-between;
    background-color: darkgray;
}

.icon {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.icon:hover {
    cursor: pointer;
}

.navImg {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 600px) {
    .outer-box {
        width: 100%;
    }
  }